<form id="form-add-{{id}}">
    {{#switch input}}
    {{#case "text"}}
    {{#switch type}}
    {{#case "string"}}
    <input id="add-{{id}}-value" type="text" data-type="string" class="form-control" data-rule-required="true" data-msg-required="A value for {{label}} is required.">
    {{/case}}
    {{#case "integer"}}
    <input id="add-{{id}}-value" type="text" data-type="integer" class="form-control" data-rule-required="true" data-msg-required="A value for {{label}} is required." data-rule-number="true" data-msg-number="The value for {{label}} must be a number.">
    {{/case}}
    {{#case "date"}}
    <input id="add-{{id}}-value" type="text" data-type="date" class="form-control" placeholder="{{placeholder}}" data-rule-required="true" data-rule-date="true" data-msg-required="A value for {{label}} is required." data-msg-date="The value for {{label}} must be a valid date.">
    {{/case}}
    {{#case "year"}}
    <input id="add-{{id}}-value" type="text" data-type="year" class="form-control" placeholder="{{placeholder}}" data-rule-required="true" data-rule-pattern="^(\d{4})$" data-msg-required="A value for {{label}} is required." data-msg-pattern="The value for {{label}} must be a 4 digit number.">
    {{/case}}
    {{#case "location"}}
    <div class="col-md-4 no-padding">
        <input class="form-control" id="add-{{id}}-country" type="text" data-location-type="country" data-provide="typeahead" autocomplete="false" placeholder="Country" data-rule-required="true" data-msg-required="A value for Country is required." />
    </div>
    <div class="col-md-4 no-padding">
        <input class="form-control" id="add-{{id}}-city" type="text" data-location-type="city" data-provide="typeahead" autocomplete="false" placeholder="City" />
    </div>
    <div class="col-md-4 no-padding">
        <input class="form-control" id="add-{{id}}-state" type="text" data-location-type="state" data-provide="typeahead" autocomplete="false" placeholder="State" />
    </div>
    {{/case}}
    {{#case "cpc"}}
    <input id="add-{{id}}-value" type="text" data-type="string" class="form-control" data-rule-required="true" data-msg-required="A value for {{label}} is required.">
    {{/case}}
    {{#case "uspc"}}
    <input id="add-{{id}}-value" type="text" data-type="string" class="form-control" data-rule-required="true" data-msg-required="A value for {{label}} is required.">
    {{/case}}
    {{#case "ipc"}}
    <input id="add-{{id}}-value" type="text" data-type="string" class="form-control" data-rule-required="true" data-msg-required="A value for {{label}} is required.">
    {{/case}}
    {{/switch}}
    {{/case}}
    {{#case "select"}}
    <select id="add-{{id}}-value" data-type="select" class="form-control">
        {{#each values}}
        <option value="{{this}}" {{#if @first}} selected="selected" {{/if}}>{{this}}</option>
        {{/each}}
    </select>
    {{/case}}
    {{/switch}}
</form>