################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/app-build
/packages
*.phpproj
*.user
*.sln
