<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
    <handlers accessPolicy="Read, Script">
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_64bit" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_32bit" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0" />
      <remove name="HttpRemotingHandlerFactory-soap-ISAPI-2.0-64" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_64bit" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_32bit" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0-64" />
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="cshtml-ISAPI-4.0_64bit" />
      <remove name="cshtml-ISAPI-4.0_32bit" />
      <remove name="cshtm-ISAPI-4.0_64bit" />
      <remove name="cshtm-ISAPI-4.0_32bit" />
      <remove name="AXD-ISAPI-4.0_64bit" />
      <remove name="AXD-ISAPI-4.0_32bit" />
      <remove name="AXD-ISAPI-2.0-64" />
      <remove name="AXD-ISAPI-2.0" />
      <remove name="aspq-ISAPI-4.0_64bit" />
      <remove name="aspq-ISAPI-4.0_32bit" />
      <remove name="StaticFile" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="PageHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="PageHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="PageHandlerFactory-ISAPI-2.0-64" />
      <remove name="PageHandlerFactory-ISAPI-2.0" />
      <remove name="SimpleHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="SimpleHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="SimpleHandlerFactory-ISAPI-2.0-64" />
      <remove name="SimpleHandlerFactory-ISAPI-2.0" />
      <remove name="WebServiceHandlerFactory-ISAPI-4.0_64bit" />
      <remove name="WebServiceHandlerFactory-ISAPI-4.0_32bit" />
      <remove name="vbhtml-ISAPI-4.0_64bit" />
      <remove name="TRACEVerbHandler" />
      <remove name="WebServiceHandlerFactory-ISAPI-2.0-64" />
      <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
      <remove name="vbhtml-ISAPI-4.0_32bit" />
      <remove name="vbhtm-ISAPI-4.0_64bit" />
      <remove name="vbhtm-ISAPI-4.0_32bit" />
      <add name="OPTIONS" path="*" verb="OPTIONS" modules="ProtocolSupportModule" resourceType="Unspecified" />
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
      <add name="SecurityCertificate" path="*.cer" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="GET, PUT, POST, DELETE, OPTIONS" />
        <add name="Access-Control-Max-Age" value="1000" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".svg" />
      <remove fileExtension=".svgz" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
      <mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>
        <rewrite>
            <rules>
                <rule name="indexrule" patternSyntax="Wildcard">
                    <match url="" />
                    <action type="Rewrite" url="query/index.html" />
                </rule>
            </rules>
        </rewrite>
  </system.webServer>
</configuration>
