<div id="criteria" class="col-md-12 r">
    <h2>Step 2: Select Search Criteria</h2>
    <p class="step-desc">
        Use the following criteria to identify a set of US patents. The output dataset will contain all primary entities (inventors, assignees, patents, classes, or locations) associated with those patents.
        <br />
        <span class="step-tip"><strong><a href={{url}} target="_blank" title="Click to view definitions for all data fields">Click to view definitions for all data fields</a></strong></span><br />
        <span class="step-tip"><strong><a href="#" class="tooltip-how-to" title="Click to view a list of all patent class numbers and titles">Click to view a list of all patent class numbers and titles</a></strong></span>
    </p>
    <div id="builder" class="builder"></div>
</div>