<div class="modal fade entity-change-modal" tabindex="-1" role="dialog" aria-labelledby="entity-change-modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="entity-change-modal-title">Changing Primary Entity</h4>
            </div>
            <div class="modal-body">
                <p>
                    Warning, changing the primary entity will reset the query input values you've provided.  Click Ok to change the primary entity, or Cancel to keep your current selections.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Cancel">Cancel</button>
                <button type="button" class="btn btn-primary ok" aria-label="Ok">Ok</button>
            </div>
        </div>
    </div>
</div>
<div id="intro">
    <div class="col-md-3">
        <h1>
            The PatentsView
            Query Tool
        </h1>
    </div>
    <div class="col-md-9">
        <p>
            The PatentsView Query Tool provides an easy to use web interface for querying data on patents, inventors, assignees, patent classes, and locations from the PatentsView database.
        </p>
        <p>
            To begin your search, click on one of the primary data output entities and click through to Step 2. Click through the steps of the query to select search criteria, identify output fields, and sort and limit results. You will receive results in the designated format via email within 24 hours.
        </p>
        <p>
            Similar queries can also be completed using the PatentsView API.
        </p>
    </div>
</div>
<div class="col-md-12 r">
    <h2>Step 1: Select primary entity</h2>
    <p class="step-desc">The selected entity will be the primary entity in the output dataset.</p>
    <ul class="entity-list">
        {{#each this}}
        {{#if isActive}}
        <li class="active">
            {{else}}
        <li>
            {{/if}}
            <div>
                <button type="button" data-id="{{id}}" class="btn btn-circle-lg btn-default entity {{id}}" aria-labelledby="entity-{{id}}"></button>
                <label id="entity-{{id}}">{{name}}</label>
            </div>
        </li>
        {{/each}}
    </ul>
</div>