<div class="list-group">
    <span class="list-group-item collapsed" data-target="#{{categoryId}}-output-fields" aria-expanded="false" aria-controls="checkbox">
        <span class="checkbox checkbox-primary checkbox-inline">
            {{#if isActive}}
            <input type="checkbox" id="output-{{categoryId}}" value="{{id}}" checked="checked" class="category">
            {{else}}
            <input type="checkbox" id="output-{{categoryId}}" value="{{id}}" class="category">
            {{/if}}
            <label for="output-{{categoryId}}" class="control-label"> {{shortName}} </label>
        </span>
    </span>
    {{#if fields}}
    <div class="collapse list-group-submenu" id="{{categoryId}}-output-fields">
        {{#each fields}}
        <div class="list-group-item">
            <span class="checkbox checkbox-primary checkbox-inline">
                {{#if isActive}}
                <input type="checkbox" id="output-{{id}}" value="{{id}}" checked="checked" class="output">
                {{else}}
                <input type="checkbox" id="output-{{id}}" value="{{id}}" class="output">
                {{/if}}
                <label for="output-{{id}}" class="control-label"> {{name}} </label>
            </span>
        </div>
        {{/each}}
    </div>
    {{/if}}
    {{#if groups}}
    <div class="collapse list-group-submenu" id="{{categoryId}}-output-fields">
        {{#each groups}}
        <div class="list-group">
            <span class="list-group-item collapsed" data-target="#{{shortNameId}}-output-fields" aria-expanded="false" aria-controls="checkbox">
                <span class="checkbox checkbox-primary checkbox-inline">
                    {{#if isActive}}
                    <input type="checkbox" id="output-{{shortNameId}}" checked="checked" class="category"> 
                    {{else}}
                    <input type="checkbox" id="output-{{shortNameId}}" class="category">
                    {{/if}}
                    <label for="output-{{shortNameId}}" class="control-label"> {{shortName}} </label>
                </span>
            </span>
            <div class="collapse list-group-submenu" id="{{shortNameId}}-output-fields">
                {{#each fields}}
                <div class="list-group-item">
                    <span class="checkbox checkbox-primary checkbox-inline">
                        {{#if isActive}}
                        <input type="checkbox" id="output-{{id}}" value="{{id}}" checked="checked" class="output">
                        {{else}}
                        <input type="checkbox" id="output-{{id}}" value="{{id}}" class="output">
                        {{/if}}
                        <label for="output-{{id}}" class="control-label"> {{name}} </label>
                    </span>
                </div>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>
