<dl class="rules-group-container">
    <dd class="rules-group-body readonly{{#check_multi_rules}}{{rules}}{{/check_multi_rules}}">
        <div class="btn-group group-conditions">
            <label class="label label-default">
                {{condition}}
            </label>
        </div>
        <ul class="rules-list">
            {{#each this.rules}}
            {{#if rules}}
            {{> part_rules}}
            {{else}}
            <li id="builder-rule-{{@index}}" class="rule-container ">
                <div class="rule-filter-container">
                    <span class="label label-default">Group</span>
                    {{group}}
                    <span class="label label-default" style="margin-left: 10px;">Field</span>
                    {{label}}
                </div>
                <div class="rule-operator-container">
                    {{operatorLabel}}
                </div>
                <div class="rule-value-container">
                    {{value}}
                </div>
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </dd>
</dl>