<section class="col-md-12 intro">
  <div class="row">
    <div class="col-md-12 no-padding">
      <a
        class="btn btn-help pull-right"
        href="https://community.patentsview.org/query/builder-faqs"
        target="_blank"
      >
        BUILDER FAQS
        <i class="fa fa-caret-right"></i>
      </a>
      <a
        class="btn-data-dict btn btn-help pull-right"
        href="https://community.patentsview.org/query/data-dictionary"
        target="_blank"
      >
        DATA DICTIONARY
        <i class="fa fa-caret-right"></i>
      </a>
    </div>
  </div>
</section>
<section class="col-md-12 step">
  <div class="col-md-12">
    <div class="row" style="margin-bottom: 20px">
      <h2 style="margin-top: 0">Step 3: Select Output Fields</h2>
      <span class="sub-title"
        >Select fields to be included in output data.</span
      >
    </div>
    <div id="outputs" class="row well well-sm"></div>
  </div>
</section>
