<div class="row">
    <div class="col-md-12" id="assignee-condition">
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="patent-condition">
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="inventor-condition">
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="lawyer-condition">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Technology Classifications</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="cpc-condition">
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="nber-condition">
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="ipc-condition">
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="uspc-condition">
    </div>
</div>
<div class="row">
    <div class="col-md-12" id="wipos-condition">
    </div>
</div>

