﻿<div
  class="modal fade entity-change-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="entity-change-modal-title"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="entity-change-modal-title">
          Changing Category
        </h4>
      </div>
      <div class="modal-body">
        <p>
          Warning, changing the category will reset the query input values
          you've provided. Click Ok to change the category, or Cancel to keep
          your current selections.
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default cancel"
          data-dismiss="modal"
          aria-label="Cancel"
        >
          Cancel
        </button>
        <button type="button" class="btn btn-primary ok" aria-label="Ok">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
<section class="col-md-12 intro no-padding intro-centered">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="intro-text">
        Find all patents with your specified text in the patent title or
        abstract.
      </h3>
      <button
        class="dark-btn btn btn-primary pull-left"
        id="back-quick-search"
        style="display: none"
      >
        <i class="fa fa-caret-left"></i> Quick Search
      </button>
    </div>
  </div>
</section>
{{#if isQuickSearch}}
<section id="quick-search-section" class="col-md-12 step">
  {{else}}
  <section
    id="quick-search-section"
    class="col-md-12 step"
    style="display: none"
  >
    {{/if}}
    <div class="row">
      <div class="col-md-12">
        <div id="quick-search" class="well well-sm">
          <div class="input-group">
            <span class="input-group-addon"
              >QUICK SEARCH
              <span class="black-circle-wrapper">
                <i
                  class="q fa fa-question-circle"
                  aria-hidden="true"
                  data-toggle="popover"
                  data-content="Simple query form that searches if all components of the query string separated by white space are found in patent title or abstract."
                ></i></span
            ></span>
            <form id="quickSearchForm" onsubmit="return false;">
              <input
                id="quickSearch"
                name="quickSearch"
                type="text"
                class="form-control"
                placeholder="Example: bicycle tire Schwinn"
                value="{{quickSearch}}"
              />
              <div class="search-controls center-block no-float">
                <div>
                  <a
                    class="btn-data-dict btn btn-help"
                    href="https://community.patentsview.org/query/data-dictionary"
                    target="_blank"
                  >
                    DATA DICTIONARY
                    <i class="fa fa-caret-right"></i>
                  </a>
                  <a
                    class="btn btn-help"
                    href="https://community.patentsview.org/query/builder-faqs"
                    target="_blank"
                  >
                    <!-- <i class="fa fa-question-circle fa-3" aria-hidden="true"></i> -->
                    BUILDER FAQS
                    <i class="fa fa-caret-right"></i>
                  </a>
                </div>
                <button
                  href="#"
                  class="btn btn-primary advanced-search-btn"
                  id="advanced-search"
                >
                  Advanced search >
                  <!-- <i class="fa fa-plus-square-o"></i> -->
                </button>
              </div>
            </form>
            <button class="btn btn-primary quick-search">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{#if isQuickSearch}}
  <section id="entity-section" class="col-md-12 step" style="display: none">
    {{else}}
    <section id="entity-section" class="col-md-12 step">
      {{/if}}
      <div class="row">
        <div class="col-md-12">
          <h2 class="select-category">
            Step 1: Select Category<i
              class="fa fa-question-circle"
              aria-hidden="true"
              data-toggle="popover"
              data-content="The category selection determines the primary entity in an output file and also affects the available search criteria for a query and output results."
              style="
                font-size: 16px;
                color: #e17954;
                padding-left: 10px;
                position: relative;
                top: -10px;
              "
            ></i>
          </h2>
          <div id="categories" class="input-group">
            <span class="sub-title"
              >Use the query builder to search for a subset of:</span
            >
            {{#each entities }}
            <div class="radio radio-active radio-inline">
              {{#if this.isActive}}
              <input
                type="radio"
                id="category-{{this.id}}"
                value="{{this.id}}"
                name="entity"
                data-name="{{this.name}}"
                checked="checked"
              />
              {{else}}
              <input
                type="radio"
                id="category-{{this.id}}"
                value="{{this.id}}"
                name="entity"
                data-name="{{this.name}}"
              />
              {{/if}}
              <label for="category-{{this.id}}">{{this.name}}</label>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </section>
    {{#if isQuickSearch}}
    <section id="criteria-section" class="col-md-12 step" style="display: none">
      {{else}}
      <section id="criteria-section" class="col-md-12 step">
        {{/if}}
        <div class="row">
          <div class="col-md-5">
            <h2>Step 2: Select Search Criteria</h2>
          </div>
          <div class="col-md-7">
            <p>
              Use the following criteria to identify a set of US patents. The
              output dataset will contain all primary entities (patents,
              inventors, or assignees) associate with those patents.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div
              id="search-summary"
              class="well well-sm"
              style="padding: 0; background-color: #fff"
            >
              <div class="input-group" style="">
                <span class="input-group-addon"
                  >Search <br />
                  Summary</span
                >
                <span>
                  <div
                    id="filters"
                    class="filters-selected-col col-xs-12 col-md-10"
                  ></div>
                </span>
                <span class="input-group-addon">
                  <span class="input-group-btn" style="padding-left: 20px">
                    <button class="btn btn-primary submit-search">
                      Submit Search<i class="fa fa-caret-right"></i>
                    </button>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div id="conditions"></div>
      </section>
    </section>
  </section>
</section>
