﻿<div
  class="modal fade entity-change-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="entity-change-modal-title"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="entity-change-modal-title">
          Changing Category
        </h4>
      </div>
      <div class="modal-body">
        <p>
          Warning, changing the category will reset the query input values
          you've provided. Click Ok to change the category, or Cancel to keep
          your current selections.
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-default cancel"
          data-dismiss="modal"
          aria-label="Cancel"
        >
          Cancel
        </button>
        <button type="button" class="btn btn-primary ok" aria-label="Ok">
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
<section class="col-md-12 intro no-padding intro-centered">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="main-title">Search Patent Data With the Query Tool</h1>
      <h3 class="intro-text intro-text-2">
        Find all patents with your specified text in the patent title or
        abstract.
      </h3>
      <button
        class="dark-btn btn btn-primary pull-left"
        id="back-quick-search"
        style="display: none"
      >
        <i class="fa fa-caret-left"></i> Quick Search
      </button>
    </div>
  </div>
</section>
{{#if isQuickSearch}}
<section id="quick-search-section" class="col-md-12 step">
  {{else}}
  <section
    id="quick-search-section"
    class="col-md-12 step"
    style="display: none"
  >
    {{/if}}
    <div class="row">
      <div class="col-md-12">
        <div id="quick-search" class="well well-sm">
          <div class="input-group">
            <span class="input-group-addon"
              >QUICK SEARCH
              <span class="black-circle-wrapper">
                <i
                  class="q fa fa-question-circle"
                  aria-hidden="true"
                  data-toggle="popover"
                  data-content="Simple query form that searches if all components of the query string separated by white space are found in patent title or abstract."
                ></i></span
            ></span>
            <form id="quickSearchForm" onsubmit="return false;">
              <input
                id="quickSearch"
                name="quickSearch"
                type="text"
                class="form-control"
                placeholder="Example: bicycle tire Schwinn"
                value="{{quickSearch}}"
              />
              <div class="search-controls center-block no-float">
                <div>
                  <a
                    class="btn-data-dict btn btn-help button-links"
                    target="_blank"
                  >
                    DATA DICTIONARY
                    <i class="fa fa-caret-right"></i>
                  </a>
                  <a class="btn btn-help button-links" target="_blank">
                    <!-- <i class="fa fa-question-circle fa-3" aria-hidden="true"></i> -->
                    BUILDER FAQS
                    <i class="fa fa-caret-right"></i>
                  </a>
                  <script>
                    (() => {
                      const domain = window.location.hostname;
                      let links = [
                        "https://www.patentsview.org/query/data-dictionary",
                        "https://www.patentsview.org/query/builder-faqs",
                      ];
                      // if (domain === "http://www.patentsview.org") {
                      //   links = [
                      //     "https://www.patentsview.org/query/data-dictionary",
                      //     "https://www.patentsview.org/query/builder-faqs",
                      //   ];
                      // } else {
                      //   links = [
                      //     "https://patentsviewcommunity.uat.air.org/query/data-dictionary",
                      //     "https://patentsviewcommunity.uat.air.org/query/builder-faqs",
                      //   ];
                      // }
                      const buttonLinks = document.querySelectorAll(
                        ".button-links"
                      );
                      buttonLinks.forEach((el, i) => {
                        el.href = links[i];
                      });
                    })();
                  </script>
                </div>
                <button
                  href="#"
                  class="btn btn-primary advanced-search-btn"
                  id="advanced-search"
                >
                  Advanced search >
                  <!-- <i class="fa fa-plus-square-o"></i> -->
                </button>
              </div>
            </form>
            <button class="btn btn-primary quick-search">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="search-details">
      <p>
        Researching a patent is part of the task of getting a new invention to
        market. The PatentsView Query Tool is a powerful search tool that
        longitudinally links inventors, their organizations, locations, and
        overall patenting activity, returning a customized data set by e-mail.
      </p>
      <p>
        For researchers, in particular, the query tool enables a broad spectrum
        of users to examine the dynamics of inventor patenting activity over
        time and space. Users can use the query tool to explore patent
        technologies, assignees, citation patterns, and co-inventor networks.
      </p>
      <p>
        Preliminary patent searches can be very beneficial for researchers and
        inventors. They help avoid submitting a patent application with claims
        already described. Also, specifically for inventors, they prepare you to
        discuss your ideas with a registered patent attorney or patent agent.
      </p>
      <h2>
        How to generate a customized data set with the PatentsView query tool:
      </h2>
      <ol>
        <li>
          For a <span class="bold-red">QUICK SEARCH</span> query tool: Input one
          or more descriptive terms (separated by spaces) into the search bar
          above, and click
          <div class="btn btn-primary quick-search">
            <i class="fa fa-search"></i>
          </div>. The query tool will search the PatentsView database for patents
          where each term appears in the patent title or abstract.
          <br />
          <span class="list-breakout-text">
            <span class="bold-grey">For an Advanced Search query tool:</span>
            Click “<a id="advanced-search">Advanced Search ></a>”. On the next page, select your category of
            interest: patents, inventors, or assignees. Query results will be
            organized based on these primary categories, which correspond to the
            <a id="api-page-link" target="_blank">PatentsView API Endpoints</a>. Then, create one or more search criteria
            by choosing a search field, selecting from the available options in
            the dropdown menus, entering your search term, and clicking “Add to
            Search.” When a search criterion is added, it will appear in the
            Search Summary box, where you also can remove unwanted criteria.
            Once all desired search criteria are added to the Search Summary,
            click “Submit Search.”
          </span>
          <script>
            (() => {
              const domain = window.location.hostname;
              let link = ''
              if (domain === "http://www.patentsview.org") {
                link = 
                  "https://www.patentsview.org/apis/api-endpoints"
                
              } else {
                link = 
                  "https://patentsviewcommunity.uat.air.org/apis/api-endpoints"
              }
              const buttonLink = document.querySelector(
                "#api-page-link"
              );
              buttonLink.href = link;
            })();
          </script>
        </li>
        <li>
          On the next page, you can customize the information included in your
          output data by checking or unchecking any of the fields listed. Fields
          are grouped into five categories, which can be expanded by clicking on
          the plus sign next to each category name. Note that selecting multiple
          many-to-one output fields (e.g., inventor first and last name and
          assignee organization name for a patent query) can result in duplicate
          rows in the output data if the CSV format is selected.
        </li>
        <li>
          Click “Preview Results” to view the next screen, where query tool
          results can be previewed in CSV or JSON format. If you get zero
          results from your query, consider fewer or alternative search terms.
        </li>
        <li>
          Below the preview pane, you can sort your results by selecting a group
          and field from the dropdown menus. Then, specify an e-mail address for
          delivery and select your preferred file format(s).
        </li>
        <li>
          Finally, click “Submit Query.” Upon completion of a successful query,
          results will be sent to the designated e-mail address.
        </li>
      </ol>
    </div>
  </section>
  {{#if isQuickSearch}}
  <section id="entity-section" class="col-md-12 step" style="display: none">
    {{else}}
    <section id="entity-section" class="col-md-12 step">
      {{/if}}
      <div class="row">
        <div class="col-md-12">
          <h2 class="select-category">
            Step 1: Select Category<i
              class="fa fa-question-circle"
              aria-hidden="true"
              data-toggle="popover"
              data-content="The category selection determines the primary entity in an output file and also affects the available search criteria for a query and output results."
              style="
                font-size: 16px;
                color: #e17954;
                padding-left: 10px;
                position: relative;
                top: -10px;
              "
            ></i>
          </h2>
          <div id="categories" class="input-group">
            <span class="sub-title"
              >Use the query builder to search for a subset of:</span
            >
            {{#each entities }}
            <div class="radio radio-active radio-inline">
              {{#if this.isActive}}
              <input
                type="radio"
                id="category-{{this.id}}"
                value="{{this.id}}"
                name="entity"
                data-name="{{this.name}}"
                checked="checked"
              />
              {{else}}
              <input
                type="radio"
                id="category-{{this.id}}"
                value="{{this.id}}"
                name="entity"
                data-name="{{this.name}}"
              />
              {{/if}}
              <label for="category-{{this.id}}">{{this.name}}</label>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </section>
    {{#if isQuickSearch}}
    <section id="criteria-section" class="col-md-12 step" style="display: none">
      {{else}}
      <section id="criteria-section" class="col-md-12 step">
        {{/if}}
        <div class="row">
          <div class="col-md-5">
            <h2>Step 2: Select Search Criteria</h2>
          </div>
          <div class="col-md-7">
            <p>
              Use the following criteria to identify a set of US patents. The
              output dataset will contain all primary entities (patents,
              inventors, or assignees) associate with those patents.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div
              id="search-summary"
              class="well well-sm"
              style="padding: 0; background-color: #fff"
            >
              <div class="input-group" style="">
                <span class="input-group-addon"
                  >Search <br />
                  Summary</span
                >
                <span>
                  <div
                    id="filters"
                    class="filters-selected-col col-xs-12 col-md-10"
                  ></div>
                </span>
                <span class="input-group-addon">
                  <span class="input-group-btn" style="padding-left: 20px">
                    <button class="btn btn-primary submit-search">
                      Submit Search<i class="fa fa-caret-right"></i>
                    </button>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div id="conditions"></div>
      </section>
    </section>
  </section>
</section>
