%axis {
	.x-inc-label, .y-inc-label {
		fill: $text-gray;
		font-size: 10px;
	}

	.x-inc-label {
		@include transform(translate(0, 0));
	}

	.y-inc-label {
		@include transform(translate(0, 4px));
	}

	.x-label, .y-label {
		fill: #838c95;
		font-size: 10px;
	}
}


.bar-series,
.bubble-series {
	@extend %axis;
}
