<td>
    {{name}}
</td>
<td>
    <select id="criterion-group-{{id}}" data-id="{{id}}" class="form-control criterion-group">
        <option>-Select Group-</option>
    </select>
</td>
<td>
    <select id="criterion-field-{{id}}" data-id="{{id}}" class="form-control criterion-field">
        <option>-Select Field-</option>
    </select>
</td>
<td>
    <select id="criterion-condition-{{id}}" data-id="{{id}}" class="form-control criterion-condition">
        <option>-Select Condition-</option>
    </select>
</td>
<td>
    <input id="criterion-value-{{id}}" data-id="{{id}}" type="text" class="form-control" placeholder="Enter value" value="" />
</td>
<td> 
    <button id="delete-{{id}}" data-id="{{id}}" class="btn btn-circle-micro delete-criterion" style="background-color: #d95729; color: #fff;"><i class="fa fa-times"></i></button>
</td>>