<div id="tpl-step-entity">
    <section id="entity">
        <div class="step-view">
            <aside>
                <h2>
                    The PatentsView
                    Query Tool
                </h2>
            </aside>
            <section>
                <p>
                    The PatentsView Query Tool provides an easy to use web interface for querying data on patents, applications, inventors and assignees from the PatentsView database. To begin your search, click on one of the primary output entities: patent, inventor, or assignee. Click through the steps of the query to select search criteria, identify output fields, and sort and limit results. You will receive results in the designated format via email within 24 hours. Similar queries can also be completed using the PatentsView API.
                </p>
            </section>
            <div class="row">
                <div class="col-md-12">
                    <h3>Step 1: Select primary entity</h3>
                    <p>The selected entity will be the primary entity in the output dataset.</p>
                    <!-- TODO: Make your own btn-group -->
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        {{#each entities}}
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="{{this}}" autocomplete="off">{{this}}
                        </label>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>