<div class="col-md-12 r">
    <h2>Review Selections</h2>
    <p class="step-desc">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Step 1: Primary Entity
                    <a href="#step/entity" class="pull-right">Edit</a>
                </div>
                <div class="panel-body text-center review-entity">
                    <h2 class="center-block">
                        {{entityName}}
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Step 1: Search Criteria
                    <a href="#step/criteria" class="pull-right">Edit</a>
                </div>
                <div class="panel-body review-criteria">
                    
                    <div class="query-builder form-inline">
                        {{#each rules}}
                        {{> part_rules}}
                        {{/each}}
                    </div>

                        <!--<div id="builder" class="query-builder form-inline">
            <dl class="rules-group-container">
                <dt class="rules-group-header">
                    <div class="btn-group group-conditions">
                        <label class="label label-default">
                            AND
                        </label>
                    </div>
                </dt>
                <dd class="rules-group-body">
                    <ul class="rules-list">
                        <li id="builder_rule_0" class="rule-container">
                            <div class="rule-filter-container">
                                <span class="label label-default">Field</span>
                                [Group] - [Field Name]
                            </div>
                            <div class="rule-operator-container">
                                [operator]
                            </div>
                            <div class="rule-value-container">
                                [value]
                            </div>
                        </li>
                        <dl class="rules-group-container">
                            <dt class="rules-group-header">
                                <div class="btn-group group-conditions">
                                    <label class="label label-default">
                                        AND
                                    </label>
                                </div>
                            </dt>
                            <dd class="rules-group-body">
                                <ul class="rules-list">
                                    <li id="builder_rule_0" class="rule-container">
                                        <div class="rule-filter-container">
                                            <span class="label label-default">Field</span>
                                            [Field Name]
                                        </div>
                                        <div class="rule-operator-container">
                                            [operator]
                                        </div>
                                        <div class="rule-value-container">
                                            [value]
                                        </div>
                                    </li>
                                </ul>
                            </dd>
                        </dl>
                    </ul>
                </dd>
            </dl>
        </div>-->
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Step 3: Output Fields
                    <a href="#step/outputs" class="pull-right">Edit</a>
                </div>
                <div class="panel-body review-outputs">
                    {{#each_active_output_every 4 outputs}}
                    <div class="row">
                        {{#each this}}
                        <div class="col-md-3">
                            <label>{{name}}</label>
                            <ul class="list-unstyled">
                                {{#each this.fields}}
                                {{#if isActive}}
                                <li>{{this.name}}</li>
                                {{/if}}
                                {{/each}}
                            </ul>
                        </div>
                        {{/each}}
                    </div>
                    {{/each_active_output_every}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Step 4: Customize Results
                    <a href="#step/results" class="pull-right">Edit</a>
                </div>
                <div class="panel-body review-results">
                    <div class="row">
                            <div class="col-md-3">
                                    <span class="label label-block label-default">Group:</span>  {{groupId}}
                                </div>
                        <div class="col-md-3">
                            <span class="label label-block label-default">Field:</span>  {{fieldId}}
                        </div>
                        <div class="col-md-3">
                            <span class="label label-block label-default">Limit:</span>  {{resultCount}}
                        </div>
                        <div class="col-md-3">
                            <span class="label label-block label-default">Format:</span>  {{#if xml}}XML &nbsp;{{/if}} {{#if json}}JSON &nbsp;{{/if}} {{#if csv}}CSV {{/if}}
                        </div>
                        </div>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="label label-block label-default">Email:</span>  {{recipient}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
