<div id="tpl-step-by-step">
    <div class="row">
        <!-- step-by-step composer -->
        <div id="step-by-step" class="col-md-12">
            <!-- progress indicator -->
            <ul id="step-view-progress" class="nav nav-tabs"></ul>
            <!-- /progress indicator -->
            <!-- step-view container -->
            <div id="step-view-container"></div>
            <!-- /step-view container -->
            <!-- step pagination -->
            <ul id="step-pager" class="pager pull-right" style="margin-top:0;">
                <li class="previous">
                    <a href="#" class="btn-previous">&larr; previous</a>
                </li>
                <li class="next">
                    <a href="#" class="btn-next">next &rarr;</a>
                </li>
            </ul>
            <!-- /step pagination -->
            <!-- form action buttons -->
            <div class="form-actions">
                <button type="submit" class="btn btn-primary btn-save">Save changes</button>
            </div>
            <!-- form action buttons -->
        </div>
        <!-- /step-by-step composer -->
    </div>
</div>