<div class="pane <%=group.className%>">
	<div class="paneNav">
		<ul>
		
		<% 
		var items = group.items;
		var l = items.length > 1 ? items.length : 0;
		
		for(var i=0; i<l; ++i) { 

		%>
			<li <% if(key===items[i].key){ %> class="active" <% } %> data-key="<%=items[i].key%>"><a><%=items[i].title%></a></li>
		<% 
		} 
		%>
		</ul>
		<button class="close" alt="close"></button>
	</div>
	<div class="paneCopy <%if(sub.className !== undefined) {%><%=sub.className%><%}%>">
		<!--scroll shell necessary because adding overflow to parent without this browser bugs where column span all on headers fails-->
			<%=sub.copy%>
	</div>
</div>
