
  .btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  border-color: #48596a;
  color: #cde6f6;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
  border-width: medium;
  border-color: #48596a;
}

.btn-circle.entity {
    background-image: -moz-linear-gradient(#54677b, #54677b);
    background-image: -webkit-linear-gradient(#54677b, #54677b);
    background-image: linear-gradient(#54677b, #54677b);
    background-repeat: no-repeat;
}

.btn-circle.entity:hover,
.btn-circle.entity.selected {
    background-image: -moz-linear-gradient(#e17954, #e17954);
    background-image: -webkit-linear-gradient(#e17954, #e17954);
    background-image: linear-gradient(#e17954, #e17954);
}


button.next {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  border: 1px solid #8c9fae;
  border-left: none;
  color: #cde6f6;
  height: 25px;
  margin-top: 6px;
  padding: 0;
  position: relative;
  width: 14.51%;
}

#entity h2 {
    color: #e17954;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
    line-height: 36px;
    margin: 18px 0 16px;
}

#entity p {
    color: #8c9fae;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    margin: 18px 0 16px;
}