/** General */

%unselectable {
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Likely future */
}

%selectable {
	-webkit-user-select: text; /* Chrome all / Safari all */
	-moz-user-select: text; /* Firefox all */
	-ms-user-select: text; /* IE 10+ */
	user-select: text; /* Likely future */
}

%caps {
	letter-spacing: 0.12em;
	text-transform: uppercase;
}
